.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    margin:2rem;
}

.card-info img {
    width: 390px;
    height: 450px;
    object-fit: cover;
    
}
