.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(5, 54, 19);
    border-radius: 10px;
    margin:2rem;
}

.card-info img {
    width: 360px;
    height: 390px;
    object-fit: cover;
    
}
