.cards-container {
    background-color: #efe8e19c;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top :120px;
    padding-bottom: 120px;
    row-gap: 5rem;
    column-gap: 5rem;
}

