.navbar{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("/public/assets/productos/img/backg3.jpg");
    background-repeat:repeat-x;
    background-position: 48%;
    flex-wrap: wrap;
}

.titulos {
    margin-top:2rem;
    margin-bottom:1rem;
    width: 60%;
    background-color: rgba(41, 41, 41, 0.176);
    box-shadow: 0px 0px 35px rgb(242, 240, 239);
    border-radius: 8px;
}

h1{  
    font-family: 'Cinzel Decorative', cursive;
    color: rgb(253, 252, 251);
    font-size: 65px;
    font-weight: lighter;
    margin-bottom: 1rem;
    letter-spacing: 30px;
}

h2{
    font-family: 'Cinzel Decorative', cursive;
    color:  rgb(251, 238, 228);
    font-size: 25px;
    font-weight:lighter;
    margin-top: 0;
    margin-bottom: 2rem;
    letter-spacing: 18px;
}

.sectionsNav ul {
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    cursor: pointer;
}

.sectionsNav ul li{
    margin-bottom: 5px;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.sectionsNav ul li a{
    font-family: 'Cinzel Decorative', cursive;
    margin-top: 8px;
    padding-left: 2rem;
    padding-right: 2rem;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 1px;
    color:  rgb(251, 238, 228);
    font-size: 20px;
    letter-spacing: 5px;
}

@media (max-width:425px) {
    
    .titulos {
        margin-top:25px;
        margin-bottom:25px;
        width:90%;
    }

    h1{
        margin: 25px;
        font-size: 30px;
        letter-spacing: 10px;
    }

    h2{
        margin: 10px;
        font-size: 15px;
        letter-spacing: 10px;
    }

    .sectionsNav ul li a{
        display: flex;
        flex-direction: column;
        margin: 12px;
        font-size: 15px;
        align-items: center;
        justify-content: center;
        column-gap:5rem;
    }
   
    }

    @media (max-width:768px){
        .titulos {
            margin-top:25px;
            margin-bottom:25px;
            width:90%;
        }

       h1{
        font-size: 35px;
       }
       h2{
        font-size: 20px;
        letter-spacing:5px;
       }
       .sectionsNav ul li a{
        font-size: 18px;
       }
    }

   /* @media (max-width:2150px) {
        .titulos {
            margin-top:25px;
            margin-bottom:20px;
            width:68%;
        }
    }*/

